*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#000;
    color:#fff;
    font-family:'poppins',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;

}
.wrapper{
    position: relative;
    width:400px;
    height:500px;
    background:#000;
    box-shadow:0 0 50px yellow;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: 30px;
}
/*.wrapper:hover{
    animation: animate 1s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}*/
#bo {
    width: 100px;
    height: 40px;
    border-radius:10px solid #000;
    color: #fff;
    font-size: 20px;

}
#bo a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    color: #fff;
    text-align: center;

}
.in{
    position:relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.in input:focus~label,
   .in input:valid~label{
   top: -5px;

   }
.in label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    transition: .5s;
    pointer-events: none;
}
.in input{
    width: 300px;
    height: 40px;
    border: none;
    font-size: 19px;
    color: #fff;
    background:transparent;
    outline: none;
    
}
.rem{
    margin: -5px 0 15px 5px;
}
.rem label{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
button{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: purple;
    box-shadow: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.header{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ),url(images/a.jpg);
    background-size:cover ;
    background-position: center;
    padding:10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0%;
}
nav button{
    border:0;
    outline:none;
    background:purple;
    color:#fff;
    border-radius:5px;
    padding:5px 10px;
    cursor:pointer;
    font-size:14px;
}

.btn a{
    color:#fff;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;

}